<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <div class="container">
        <form action="/submit" method="post">
            <label for="Science">Science Marks</label><br>
            <input type="text" id="science" name="science" value="0"><br>
            <label for="Math">Math Marks</label><br>
            <input type="text" id="math" name="math" value="0"><br>
            <label for="English">English Marks</label><br>
            <input type="text" id="english" name="english" value="0"><br>
            <label for="Hindi">Hindi Marks</label><br>
            <input type="text" id="hindi" name="hindi" value="0"><br>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
    
</body>
</html>